mixin workTile(title, description, work_url, device, tag, live_link, cta)
  .panel.section.works
    .container-fluid.block-lg
      .row.section(id=title.replace(/[^\w]|_/g, "").toLowerCase())
        .col-xs-12.col-md-7.col-sm-12.section.left.tight
          .block-hor-lg.work-img
            img.work(src="/assets/work/#{work_url}" class="work-#{device}")
            if block
              block
              
        .col-xs-12.col-md-5.col-sm-12.section.text-left.right.tight
          .block-lg.work-desc
            h2.text-xl.blue=title
            p=description
            if tag
              h3.text-orange.amaranth=tag
              
            a.btn(href="#{live_link}", target="_blank") #{cta}
