mixin workTile(title, description, work_url, device, tag, live_link)
  .panel.section.works
    .container-fluid.block-lg
      .row.section(id=title.replace(/[^\w]|_/g, "").toLowerCase())
        .col-xs-12.col-md-7.col-sm-12.section.left.tight
          .block-hor-lg.work-img
            if live_link
              a.kablam-container(href="#{live_link}")
                img.work(src="/assets/work/#{work_url}" class="work-#{device}")
                include kablam
                if block
                  block
                  
            else
              img.work(src="/assets/work/#{work_url}" class="work-#{device}")
              if block
                block
              
        .col-xs-12.col-md-5.col-sm-12.section.text-left.right.tight
          .block-lg.work-desc
            h2.text-xl.blue=title
            p=description
            if tag
              h3.work-category=tag
              
            if live_link
              a.btn.link-pink(href="#{live_link}") VIEW PROJECT
      
